<%- include ./partials/header.ejs%>

<main>

    <h1>Chat</h1>

    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>

</main>

<%- include ./partials/footer.ejs%>

