<%- include ./partials/header.ejs%>

<main>

    <h1>Login</h1>

    <form class="form--login" action="">
        <input id="login-input" autocomplete="off" /><button>Login</button>
    </form>

</main>

<%- include ./partials/footer.ejs%>

